/*body{
    background: beige;
    font-family: 'Rajdhani', sans-serif;
}
img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1
{
    text-align: center;
}
p
{
    text-align: center;
}*/