
  html {
    font-size: 10px;/*default font size*/
    font-family: 'Open Sans', sans-serif;/*font family*/
    background-color: #00539F;/*background color*/
  }
  body {
    width: 600px;/*width of container*/
    margin: 0 auto;/*Center body*/
    background-color: #FF9500;/*Color of body*/
    padding: 0 20px 20px 20px;/*add some extra padding to the body*/
    border: 5px solid black;/*add a border to the body*/
  }
  h1 {
    font-size: 60px;/*font size for the heading*/
    text-align: center;/*center the heading*/
    margin: 0;/*Heading margin becomes 0. Heading margin has potential to overlap the spacing of the body*/
    padding: 20px 0;/*Padding used for the internal spacing*/
    color: #00539F;/*Color of the heading*/
    text-shadow: 3px 3px 1px black;/*Text shadow and its properties: x, y, blur, color */
  }
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;/*Seems insignificant but makes it look slightly better*/
  }
  img {
    display: block;/*gives the image block level properties*/
    margin: 0 auto;/*Centers the image (margin: auto usually only works for block level elements unless display: block is active)*/
    
  }